
.main{
  margin-top: 60px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  height:400px;
} 
@media(max-width:2000px){
  .grid-container{
    grid-template-columns: repeat(7,1fr);
  }
}
@media(max-width:1800px){
  .grid-container{
    grid-template-columns: repeat(6,1fr);
  }
}
@media(max-width:1300px){
  .grid-container{
    grid-template-columns: repeat(5,1fr);
  }
}
@media(max-width:1000px){
  .grid-container{
    grid-template-columns: repeat(4,1fr);
  }
}
@media(max-width:800px){
  .grid-container{
    grid-template-columns: repeat(3,1fr);
  }
}
@media(max-width:600px){
  .grid-container{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:400px){
  .grid-container{
    grid-template-columns: repeat(1,1fr);
  }
}

/* --------product-grid---------- */
.product-container{
  padding: 20px;
  border-right: 1px solid rgb(230, 227, 227);
  border-bottom: 1px solid rgb(230, 227, 227);
}
.product-image{
  height: 150px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.image{
  height: 100px;
  width:120px;
}
.product-name{
  height:55px;
  font-size: 17px;
  font-weight: 600;
}
.product-rating{
  margin: 10px 0 10px 0;
  color:rgb(3, 3, 255);
}
.rating-stars{
  height:20px;
  margin-right: 3px;
}
.price{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.quantity-container select{
  border-radius: 5px;
  border:1px solid rgb(165, 162, 162);
  height: 25px;
  width: 45px;
  background-color: rgb(241, 237, 237);
  margin-bottom: 10px;
}
.added-to-cart{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight:600;
  margin-top: 15px;
  margin-bottom: 10px;
  color:rgb(28, 114, 64);
  opacity: 0;
}
.added-to-cart.show{
  opacity:1;
}
.check-mark{
  height:13px;
  margin-right: 5px;
}
.add{
  width:100%;
  height:30px;
  border-radius:15px;
  border:none;
  background-color: rgb(255, 217, 0);
}
.product-name ,
.quantity-container select,
.quantity-container select option,
.price,
.add{
  color:black;
}