*{
  font-family: 'poppins',sans-serif;
}
.main{
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}
.title-review{
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0;
}
.date{
  font-size: 18px;
  font-weight: bold;
  color:rgb(19, 121, 19);
}
.product-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-cost{
  font-size: 18px;
  font-weight: bold;
  color:rgb(182, 27, 27);
  margin-bottom: 10px;
}
.product-quantity{
   font-size: 17px;
}
.update-product,
.delete-product{
  color:rgb(0, 162, 255);
}

.grid-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: start;
  column-gap: 12px;
}

@media(max-width:1000px){
  .main{
    max-width:500px;
  }
  .grid-container{
    grid-template-columns: 1fr;
  }
}
.order-summary{
  column-gap: 12px;
}
.order-container, .payment-summary{
  margin-bottom: 20px;
  padding:20px;
  border:1px solid rgb(187, 183, 183);
  border-radius: 5px;
}

.product-image{
  height: 120px;
  width: 120px;
}
.product-grid{
  display: grid;
  grid-template-columns: 120px 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  column-gap: 8px;
}
@media(min-width:1000px){
  .product-grid{
      grid-template-columns: 120px 1fr 1fr;
  }
}
@media(max-width:1000px){
  .delivery-options{
    grid-column:1 /2 span;
  }
  .payment-summary{
    grid-row: 1;
  }
}

.option{
  display: flex;
  align-items: center;
  margin-bottom:5px; 
  margin-top: 10px;
}
.choose-date{
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.delivery-date{
  font-size: 17px;
  font-weight: bold;
  color:green;
}
.shipping{
  color:gray;
  font-size: 15px;
}
input{
  margin-right: 5px;
}

/* --------payment-------- */

.payment-summary-row{
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 16px;
  margin-bottom: 10px;
}
.order-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.before-tax{
  margin-bottom: 10px;
}
.tax-bottom{
   padding-bottom: 10px;
   border-bottom:1px solid rgb(192, 185, 185);
   text-align: right;
   width: 52px;
}
.estimate-tax{
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(184, 177, 177);
  padding-bottom: 10px;
}
.total-cost{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color:rgb(177, 65, 14);
}
.place-order{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  border:none;
  background-color: rgb(255, 238, 0);
}