*{
  margin:0;
  padding:0;
  font-family: 'poppins',sans-serif;
}
.header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:40px;
  background-color: red;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding: 10px 30px;
}

.logo{
  height:30px;
  margin-top: 5px;
}

.header-middle-section{
  font-size: 20px;
}
.header-middle-section span{
  color:rgb(1, 5, 209);
}
.checkout-lock{
  height: 20px;
}
